/* Global Properties */
html {
    scroll-behavior: smooth;
  }
body {
    background: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
  }
.red{
    color: red;
}


/* Navigation */
.nav-item a{
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase !important;
    border: 2px solid transparent;
}
.nav-item a.active, .nav-item a:hover {
    color: red !important;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5s ease;
  }


#header{
  background: #000;
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  z-index: 99;
}

#home {
    padding-top: 150px;
    padding-bottom: 90px;
}
#home h1 {
    font-size: 4rem;
  }

/* About */
#about{
    background: #313552;
}
.aboutP{
    font-size: 20px;
}

/* Projects */
.btn{
  background: red;
  color: #ffff;
  font-size: 20px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
.btn:hover{
  background: #000;
  color: #fff;
}
.card{
  border-bottom: 8px solid red;
}

/* Social Media */
#social-media {
  padding: 16px 0 48px 0;
  background: #313552;
}

.s-logo a{
  display: block;
  color: #fff;
}
.s-logo i{
  display: inline-block;
  font-size: 32px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border: 4px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.s-logo img{
  color: #fff;
  display: inline-block;
  font-size: 32px;
  height: 70px;
  width: 70px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Contact */
#contact input, #contact textarea{
  background: transparent;
}

.footer{
  background: #000;
}
.footer p{
  margin-bottom: 0;
}


/* Responsive */
@media (max-width: 991px){
  .nav-item a{
    padding: 0 10px;
  }

  /* About */
  .a-img {
    text-align: center;
  }
  .a-info {
    text-align: center;
  }
}

@media (max-width: 767px){
  .navbar-nav{
    align-items: center;
  }
  .nav-item a.active, .nav-item a:hover{
    border-bottom: none;
  }

  /* Contact */
  #Contact input[type=email]{
    margin-bottom: 25px;
  }
}